services:
  llm-node:
    container_name: llm-node
    build: .
    image: lingyezhixing/llm-node:latest
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      - LOG_LEVEL=DEBUG
    restart: always
    networks:
      - open-webui-net

networks:
  open-webui-net:
    external: true